@model warriorTime.BluePrintForm.BluePrintUserInfo;
@using warriorTime.Models;
@{
    ViewData["Title"] = "Mes informations";
    //var student = ViewBag.Message;
    Layout = "_InternLayout";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mes informations</h4>
                        <form method="post" asp-controller="Intern" asp-action="UpdateTelNum">
                            @if (TempData["changesSaved"] != null && (int)TempData["changesSaved"] == 1)
                            {
                                <div class="alert alert-success" role="alert">
                                    The number was modified ○( ＾皿＾)っ Hehehe… "
                                </div>
                            }
                            @if (TempData["WrongNumber"] != null && (int)TempData["WrongNumber"] == 1)
                            {
                                <div class="alert alert-danger" role="alert">
                                    Please modify your number (っ °Д °;)っ "
                                </div>
                            }
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Nom" aria-label="lastname" value="@ViewBag.recup.Nom" disabled>
                        </div>
                        <div class="form-group">
                            <label>Prénom</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Prénom" aria-label="surname" value="@ViewBag.recup.Prenom" disabled>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" value="@ViewBag.recup.Email" disabled>
                        </div>
                        <div class="form-group">
                            <label>Téléphone</label>
                            <!--viewbag correspong a mon sac de transport recup a la variable transportee qui reference l'objet Etudiant pour lequel j'affiche le Telephone -->
                            <input asp-for="Telephone" maxlength="10" type="tel" class="form-control form-control-lg" placeholder="Téléphone" aria-label="Tel" value="@ViewBag.recup.Telephone">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @if (TempData["verifOk"] != null && (int)TempData["verifOk"] == 1)
                        {
                                    <div class="alert alert-success" role="alert">
                                       🤗 The Password was modified 🤗 "
                                    </div>
                        }
                        @if (TempData["verifPwdIdentique"] != null && (int)TempData["verifPwdIdentique"] == 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                The Password is not the same (ง •_•)ง "
                            </div>
                        }
                        @if (TempData["verifOldPwd"] != null && (int)TempData["verifOldPwd"] == 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                The old  Password doesn't match  ༼ つ ◕_◕ ༽つ "
                            </div>
                        }

                        
                        <form asp-action="UpdatePassword" asp-controller="Intern" method="post">
                        <h4 class="card-title">Modifier mot de passe</h4>
                        <div class="form-group">
                            <label>Ancien mot de passe</label>
                            <input type="password" asp-for="OldPassword" class="form-control form-control-lg" placeholder="Ancien mot de passe" aria-label="Password">
                        </div>
                        <div class="form-group">
                            <label>Nouveau mot de passe</label>
                            <input type="password" asp-for="NewPassword" class="form-control form-control-lg" placeholder="Nouveau mot de passe" aria-label="NewPassword">
                        </div>
                        <div class="form-group">
                            <label>Confirmer mot de passe</label>
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control form-control-lg" placeholder="Confirmer mot de passe" aria-label="ConfirmPassword">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>