@model warriorTime.BluePrintForm.BluePrintForgotPass;
@{
    Layout = "_LayoutLogin";
}
@*//le   va faire reference au layoutLogin (le layoutLogin s'occupe de l esthetique tandis que le loginPage s'occupe du contenu qui doit s'afficher a savoir le form dans ce cas)
*@

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        @* <div class="brand-logo">
                        <img src="../../images/logo.svg" alt="logo">
                        </div>*@
                        <h4>forgot your password :(</h4>
                        <h6 class="fw-light">type in your password</h6>
                        <form class="pt-3" asp-controller="Login" asp-action="ForgotPass" method="post">
                            <div class="form-group">
                                <input type="email" asp-for="Mail" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="mail">
                            </div>
                           
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >submit</button>
                            </div>
                            
                            @*  <div class="mb-2">
                            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                            <i class="ti-facebook me-2"></i>Connect using facebook
                            </button>
                            </div>*@
                            <div class="text-center mt-4 fw-light">
                                Don't have an account? <a asp-controller="Login" asp-action="Register" class="text-primary">Create</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>