
@model warriorTime.BluePrintForm.BluePrintLogIn;

@* en lien avec le asp-for , prend les valeur des champs du form pour l inserer dans le blueprint /*@

@{
    Layout = "_LayoutLogin";}
    @*//le   va faire reference au layoutLogin (le layoutLogin s'occupe de l esthetique tandis que le loginPage s'occupe du contenu qui doit s'afficher a savoir le form dans ce cas)
*@
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                       @* <div class="brand-logo">
                            <img src="../../images/logo.svg" alt="logo">
                        </div>*@
                        <h4>Welcome</h4>
                        <h6 class="fw-light">Sign in to continue.</h6>
                        @if (TempData["PermissionDenied"] != null && (int)TempData["PermissionDenied"]== 1)
                        {
                            <div class="alert alert-danger" role="alert">
                                Access is denied please connect!
                            </div>
                        }
                        @if (TempData["signInFailed"] != null && (int)TempData["signInFailed"] == 1)
                        {
                            <div class="alert alert-danger" role="alert">
                                One or both of credentials are incorrect
                            </div>
                        }
                         @if (TempData["insertStatus"] != null && (int)TempData["insertStatus"] == 1)
                        {
                            <div class="alert alert-success" role="alert">
                                 Registration successfull! :)
                            </div>
                        }
                       `
                        <form class="pt-3" asp-controller="Login" asp-action="VerifyCredentials" method="post">
                            <div class="form-group">
                                <input type="email" asp-for="Email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="mail">
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <select asp-for="userType" class="form-control form-control-lg" id="exampleInputSelect" required>
                                    <option disabled selected value="">Vous êtes ?</option>
                                    <option value="coach">Coach</option>
                                    <option value="student">Etudiant</option>
                                </select>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
                            </div>
                            <div class="mt-3">
                                <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" asp-controller="Login" asp-action="SayHello">say hello</a>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        Keep me signed in
                                    </label>
                                </div>
                                <a asp-controlleer="Login" asp-action="ForgetPassword"class="auth-link text-black">Forgot password?</a>
                            </div>
                          @*  <div class="mb-2">
                                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                                    <i class="ti-facebook me-2"></i>Connect using facebook
                                </button>
                            </div>*@
                            <div class="text-center mt-4 fw-light">
                                Don't have an account? <a asp-controller="Login" asp-action="Register" class="text-primary">Create</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>