@model warriorTime.BluePrintForm.BluePrintSignUp;
@{
    Layout = "_LayoutLogin";
}
@*//le   va faire reference au layoutLogin (le layoutLogin s'occupe de l esthetique tandis que le loginPage s'occupe du contenu qui doit s'afficher a savoir le form dans ce cas)
*@

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        @* <div class="brand-logo">
                        <img src="../../images/logo.svg" alt="logo">
                        </div>*@
                        <h4>Welcome</h4>
                        <h6 class="fw-light">keep signing up </h6>
                        @if (TempData["insertStatus"] != null && (int)TempData["insertStatus"] == 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                something went wrong,Registration failed.<br> @TempData["errorMessage"]
                            </div>
                        }
                        <form class="pt-3" asp-action="RegisterInfo" asp-controller="Login" method="post">
                            <div class="form-group">
                                <input type="text" asp-for="name" class="form-control form-control-lg" id="name" placeholder="name">
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="surname" class="form-control form-control-lg" id="surname" placeholder="surname">
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for="mail" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="mail">
                            </div>
                            <div class="form-group">
                                <input type="tel" asp-for="phoneNumber" class="form-control form-control-lg" id="phoneNumber" placeholder="phone number">
                            </div>
                            
                            <div class="form-group">
                                <input type="password" asp-for="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="mt-3">
                                <button  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">sign up</button>
                            </div>
                           
                            @*  <div class="mb-2">
                            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                            <i class="ti-facebook me-2"></i>Connect using facebook
                            </button>
                            </div>*@
                            <div class="text-center mt-4 fw-light">
                               have an account <a asp-controller="Login" asp-action="LoginPage" class="text-primary">sign-in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>