@{
    Layout = "_LayoutLogin";
}
@*//le   va faire reference au layoutLogin (le layoutLogin s'occupe de l esthetique tandis que le loginPage s'occupe du contenu qui doit s'afficher a savoir le form dans ce cas)
*@

<h1> HALLO LEUTE </h1>

<h1> HELLO PEOPLE </h1>

<h1> SALUT LES GENS </h1>